#Data Bootcamp Selection Challenge
#####In this challenge you will calculate various KPIs using a car based dataset, each question will have a single correct answer that will be evaluated through automated unit testing. Use the dictionary provided below to fill in your answers, each question will state the format required for the answer and examples are provided so you know how properly fill the answer dictionary. 
#####**Use the dataset "as is" and do not perform any data cleaning or modify it in any way, doing so could make you answer all your questions incorrectly. Do not modify the structure of the answer dictionary.**

#####When you finish this challenge please upload both your notebook and your answer dictionary in pickle format to a public github repository submit their URL to the [google form](https://forms.gle/wWysZEMkoZsjB11Y7) that was provided to you.

##### Some unit tests are provided at the end of this notebook to help you verify your answers are in the correct format, however they will not test everything.

In [56]:
#Use this dictionary to store your answers in the correct format in the cells below , do not modify the keys
answer_dict =  {"Q1" : None,
                "Q2" : None,
                "Q3" : None,
                "Q4" : None,
                "Q5" : None,
                "Q6" : None,
                "Q7" : None}

##Reading the dataset
#####An example is provided to read the dataset using [pandas](https://pandas.pydata.org/), while we reccommend using pandas you may use any python library to solve this challenge.

In [57]:
import pandas as pd
import numpy as np
url='https://drive.google.com/file/d/1PCJ7ltluquoXKi6MYTPMfwZQNI_-MIFP/view?usp=sharing'
url='https://drive.google.com/uc?id=' + url.split('/')[-2]
df = pd.read_csv(url)

In [58]:
df.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make                     35952 non-null  object
 1   Model                    35952 non-null  object
 2   Year                     35952 non-null  int64
 3   Engine Displacement      35952 non-null  float64
 4   Cylinders                35952 non-null  float64
 5   Transmission             35952 non-null  object
 6   Drivetrain               35952 non-null  object
 7   Vehicle Class            35952 non-null  object
 8   Fuel Type                35952 non-null  object
 9   Fuel Barrels/Year        35952 non-null  float64
 10  City MPG                 35952 non-null  int64
 11  Highway MPG              35952 non-null  int64
 12  Combined MPG             35952 non-null  int64
 13  CO2 Emission Grams/Mile  35952 non-null  float64
 14  Fuel Cost/Year           35952 non-null  int64
dtypes: float64(4), int64(5), object(6)
memory usage: 4.1+ MB

##Q1. What is the average CO2 emmission per gram/mile of all Volkswagen cars?

##### Format: A floating number
##### Example answer:
 `11.547`

In [60]:
########## Q1
#Your code here
df_Volkswagen = df[df["Make"]=="Volkswagen"]
answer_dict["Q1"] =  round(df_Volkswagen["CO2 Emission Grams/Mile"].mean(),3)
answer_dict["Q1"]
#Example answer:
#answer_dict["Q1"] =  11.547

392.742

##Q2. Calculate the top 5 brands(Make) with the most unique models, order your answer in descending order with respect to the number of unique models.
##### **NOTE:** Consider only the name of the models and their brand, that is use only the Make and Model columns
##### Format: A 5X2 list with each row being the name of the brand followed by the unique number of models, in descending order.
#####Hint: You can use the pandas [df.values.tolist()](https://pandas.pydata.org/docs/reference/api/pandas.Series.tolist.html) function to format your answer.

##### Example answer: 
`[["Volkswagen", 1000], ["Toyota", 900], ["Honda", 800], ["Subaru", 700], ["Ford", 600]]`

In [61]:
########## Q2
#Your code here
all_list = []
for brand in df["Make"].unique().tolist():
  df_brand = df[df["Make"]==brand]
  the_element = [brand, len(df_brand["Model"].unique().tolist())]
  all_list.append(the_element)

answer_dict["Q2"] = sorted(all_list, key=lambda x: x[1], reverse=True)[0:5]
answer_dict["Q2"]
#Example answer:
#answer_dict["Q2"] =  [["Volkswagen", 1000], ["Toyota", 900], ["Honda", 800], ["Subaru", 700], ["Ford", 600]]

[['Mercedes-Benz', 333],
 ['BMW', 284],
 ['Chevrolet', 253],
 ['Ford', 185],
 ['GMC', 163]]

##Q3. What are all the different types of fuels in the dataset sorted alphabetically?
##### Format: A list of strings sorted alphabetically.
##### Example Answer: 
`['Regular',
 'Premium']`

In [62]:
########## Q3
#Your code here
answer_dict["Q3"] = sorted(df["Fuel Type"].unique().tolist(), reverse=True)
answer_dict["Q3"]
#Example answer:
#answer_dict["Q3"] =  ['Regular', 'Premium']

['Regular Gas or Electricity',
 'Regular Gas and Electricity',
 'Regular',
 'Premium or E85',
 'Premium and Electricity',
 'Premium Gas or Electricity',
 'Premium',
 'Midgrade',
 'Gasoline or propane',
 'Gasoline or natural gas',
 'Gasoline or E85',
 'Diesel',
 'CNG']

##Q4. Show the 9 Toyota cars with the most extreme Fuel Barrels/Year in abosolute terms within all Toyota cars. Show the car Model, Year and their Fuel Barrels/Year in standard deviation units([Z-score](https://fredclavel.org/2019/03/18/basics-standardization-and-the-z-score/)) **sorted** in descending order by their Fuel Barrels/Year in absolute terms first and then by year in descending order **BUT** without modifying the negative values (see example).

##### Format: A 9X3 list with each row containing the Model, Year and Fuel Barrels/Year in standard deviations units

##### Example answer: 
```
[['DJ Po Vehicle 2WD', 2004, -6.407431084026927],
 ['FJ8c Post Office', 2003, -6.407431084026927],
 ['Post Office DJ5 2WD', 2005, -6.391684618442447],
 ['Sierra 2500 Hd 2WD', 2002, -6.391684618442447],
 ['Camry CNG', 2012, 2.677633075759575],
 ['Sierra 1500 4WD', 2005, 2.677633075759575],
 ['Sierra 1500 4WD', 2001, 2.677633075759575],
 ['V15 Suburban 4WD', 1988, 2.677633075759575],
 ['V15 Suburban 4WD', 1987, 2.677633075759575]]
```
#####Note that while the list is sorted by the Fuel Barrels/Year in absolute terms and in standard deviation units, the values are not modified. If the values are the same the rows are sorted by the year.

In [63]:
########## Q4
# Your code here

# the 9 Toyota cars with the most extreme Fuel Barrels/Year
df_toyota = df[df["Make"]=="Toyota"]

all_list = []
for model in df_toyota["Model"].unique().tolist():
  df_model_toyota = df_toyota[df_toyota["Model"]==model]
  df_model_toyota["standard deviation units"] = df_model_toyota["Fuel Barrels/Year"].std()
  the_element = df_model_toyota[df_model_toyota["Fuel Barrels/Year"]== df_model_toyota["Fuel Barrels/Year"].max()]
  
  all_list.append(the_element)

all_toyota = pd.concat(all_list)
all_toyota.drop_duplicates()

all_toyota = all_toyota.sort_values(by=['Fuel Barrels/Year','Year'], ascending=[False,True])
selected_toyota = all_toyota[0:9]

q4 = []
for x, y, z in zip(selected_toyota["Model"], selected_toyota["Year"], selected_toyota["standard deviation units"]):
    q4.append([x,y,z])

answer_dict["Q4"] = q4
answer_dict["Q4"]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

[['Cab/Chassis 2WD', 1989, 3.5653923662892626],
 ['Cab/Chassis 2WD', 1990, 3.5653923662892626],
 ['Cab/Chassis 2WD', 1991, 3.5653923662892626],
 ['Cab/Chassis 2WD', 1992, 3.5653923662892626],
 ['Cab/Chassis 2WD', 1993, 3.5653923662892626],
 ['Land Cruiser Wagon 4WD', 1984, 2.731818961681556],
 ['Land Cruiser Wagon 4WD', 1985, 2.731818961681556],
 ['Land Cruiser Wagon 4WD', 1986, 2.731818961681556],
 ['Land Cruiser Wagon 4WD', 1987, 2.731818961681556]]

##Q5. Calculate the changes in Combined MPG with their previous model of all Golf cars with Manual 5-spd transmission and Regular Fuel Type. Show the Year, the Combined MPG and the calculated difference of MPG in a list sorted by Year in ascending order.

##### Format: A 19X3 list, with the Year and Combined MPG being of type integer **and only the calculated difference is of type float**
##### **Note: The value for the first model should be 0.** It does not matter that there are gaps in the years, calculate with respect the previous model.

#####Example answer:



```
[[1986, 25, 0.0],
 [1987, 25, 0.0],
 [1988, 25, 0.0],
 [1989, 25, 0.0],
 [1990, 23, -2.0],
 [1991, 23, 0.0],
 [1992, 24, 1.0],
 [1993, 25, 1.0],
 [1994, 25, 0.0],
 [1995, 25, 0.0],
 [1996, 25, 0.0],
 [1997, 25, 0.0],
 [1998, 24, -1.0],
 [1999, 25, 1.0],
 [2000, 24, -1.0],
 [2001, 24, 0.0],
 [2002, 24, 0.0],
 [2004, 24, 0.0],
 [2006, 24, 0.0]]
```

In [64]:
########## Q5
#Your code here
# no idea with Golf cars
df[df["Transmission"]=='Manual 5-spd']

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
6,Acura,2.2CL/3.0CL,1997,2.2,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,22,28,24,370.291667,1400
9,Acura,2.3CL/3.0CL,1998,2.3,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,21,29,24,370.291667,1400
12,Acura,2.3CL/3.0CL,1999,2.3,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,21,29,24,370.291667,1400
50,Acura,Integra,1986,1.6,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.184400,23,28,25,355.480000,1350
52,Acura,Integra,1987,1.6,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.184400,23,28,25,355.480000,1350
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35925,Yugo,GV,1988,1.3,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,23,27,24,370.291667,1400
35927,Yugo,GV Plus/GV/Cabrio,1990,1.3,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.184400,23,28,25,355.480000,1350
35930,Yugo,GV/GVX,1989,1.3,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.184400,23,28,25,355.480000,1350
35939,smart,fortwo cabriolet,2017,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.694412,31,38,34,258.000000,1200
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

##Q6. What are the top 5 lowest CO2 Emission Grams/Mile emmisions of cars for each of the following brands: Toyota, Ford, Volkswagen, Nissan, Honda

#####Format: A 5X6 list with the first element of each row being the Make of the cars and the following five values being floats sorted in ascending order. The Makes should appear in order listed in the question starting with Toyota and ending with Honda (see example).

#####Example answer:

```
[['Toyota', 100.0, 140.0, 140.0, 150.0, 150.0],
 ['Ford',
  100.025641025641,
  200.677633075759575,
  200.677633075759575,
  200.677633075759575,
  200.677633075759575],
 ['Volkswagen', 139.0, 154.0, 166.5, 166.5, 166.5],
 ['Nissan', 122.0, 122.0, 122.0, 122.0, 160.0],
 ['Honda', 100.0, 100.0, 100.0, 100.0, 123.91684618442447]]
```

In [65]:
########## Q6
#Your code here
all_list = []
for brand in ["Toyota","Ford","Volkswagen","Nissan","Honda"]:
    df_brand = df[df["Make"]==brand]
    df_small = df_brand.nsmallest (5, 'CO2 Emission Grams/Mile')
    lst = df_small["CO2 Emission Grams/Mile"].tolist()
    the_element = [brand]
    for l in lst:
      the_element.append(l)
    all_list.append (the_element)
answer_dict["Q6"] = all_list
answer_dict["Q6"]

[['Toyota', 133.0, 133.0, 133.0, 133.0, 158.0],
 ['Ford', 112.0, 129.0, 129.0, 129.0, 129.0],
 ['Volkswagen', 200.0, 200.0, 200.0, 200.0, 261.025641025641],
 ['Nissan', 249.0, 254.0, 254.5, 254.5, 254.5],
 ['Honda',
  130.0,
  167.67924528301887,
  167.67924528301887,
  167.67924528301887,
  167.67924528301887]]

##Q7. Form 7 groups of 5 years to calculated the median Combined MPG of each group. The first group is from 1984 to 1988, the second from 1989 to 1993 and so on. The last group will have years not appearing in the dataset.

#####Note: The groups ranges are inclusive on both sides, the first group starts with 1984 and cars from 1984 are included in it.
#####Format : A 7X2 list with the first element of each row being a tuple of two integers being the lower and uppper range of the year groups and the esecond element being the median Combined MPG of that group, a float number.

#####Example answer:


```
[[(1984, 1988), 11.0],
 [(1989, 1993), 10.0],
 [(1994, 1998), 10.0],
 [(1999, 2003), 14.0],
 [(2004, 2008), 13.0],
 [(2009, 2013), 14.0],
 [(2014, 2018), 15.0]]
```

In [66]:
########## Q7
#Your code here
star_year = 1984
end_year = 2018
gap = 4
all_list = []
for s in range(star_year,end_year,gap+1):
  df_year_grup = df[(df["Year"]<=s+4) & (df["Year"]>=s)]
  the_element = [(s, s+4),df_year_grup["Combined MPG"].median()]
  all_list.append(the_element)
answer_dict["Q7"] = all_list
answer_dict["Q7"]

[[(1984, 1988), 19.0],
 [(1989, 1993), 18.0],
 [(1994, 1998), 19.0],
 [(1999, 2003), 19.0],
 [(2004, 2008), 19.0],
 [(2009, 2013), 21.0],
 [(2014, 2018), 22.0]]

##Test your answers

##### We provide you some tests to make sure your answer dictionary is in the correct format using unittest.
##### These tests are not meant to be comprehensive, you should review all your answers carefully.

In [67]:
import unittest

class TestAnswers(unittest.TestCase):
    def test_if_dict(self):
        self.assertIsInstance(answer_dict, dict)

    def test_keys(self):
        self.assertEqual(list(answer_dict.keys()), ['Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7'])

    def test_answers_types(self):
        types_values = [type(k) for k in answer_dict.values()]
        answer_types = [float, list, list, list, list, list, list]
        self.assertEqual(types_values, answer_types)

    def test_Q1(self):
        self.assertEqual(type(answer_dict['Q1']), float)

    def test_Q2_dim(self):
        self.assertEqual(np.array(answer_dict['Q2']).shape, (5,2))

    def test_Q2_types(self):
        dtype1 = type(answer_dict['Q2'][0][0])
        dtype2 = type(answer_dict['Q2'][0][1])
        self.assertEqual([dtype1, dtype2], [str, int])

    def test_Q3_types(self):
        q3_types = set([type(item) for item in answer_dict['Q3']])
        self.assertEqual(q3_types, {str})

    def test_Q4_dim(self):
        self.assertEqual(np.array(answer_dict['Q4']).shape, (9,3))

    def test_Q4_types(self):
        dtype1 = type(answer_dict['Q4'][0][0])
        dtype2 = type(answer_dict['Q4'][0][1])
        dtype3 = type(answer_dict['Q4'][0][2])
        self.assertEqual([dtype1, dtype2, dtype3], [str, int, float])

    def test_Q5_dim(self):
        self.assertEqual(np.array(answer_dict['Q5']).shape, (19,3))

    def test_Q5_types(self):
        dtype1 = type(answer_dict['Q5'][0][0])
        dtype2 = type(answer_dict['Q5'][0][1])
        dtype3 = type(answer_dict['Q5'][0][2])
        self.assertEqual([dtype1, dtype2, dtype3], [int, int, float])

    def test_Q5_first_zero(self):
        self.assertEqual(answer_dict['Q5'][0][2], 0)


    def test_Q6_dim(self):
        self.assertEqual(np.array(answer_dict['Q6']).shape, (5,6))

    def test_Q5_types(self):
        dtype1 = type(answer_dict['Q6'][0][0])
        dtype2 = type(answer_dict['Q6'][0][1])
        dtype3 = type(answer_dict['Q6'][0][2])
        dtype4 = type(answer_dict['Q6'][0][3])
        dtype5 = type(answer_dict['Q6'][0][4])
        dtype6 = type(answer_dict['Q6'][0][5])
        self.assertEqual([dtype1, dtype2, dtype3, dtype4, dtype5, dtype6], [str, float, float, float, float, float])

    def test_Q6_check_first_and_last_brand(self):
        first_brand = answer_dict['Q6'][0][0]
        last_brand = answer_dict['Q6'][4][0]

        self.assertEqual([first_brand, last_brand], ["Toyota", "Honda"])

    def test_Q7_dim(self):
        self.assertEqual(np.array(answer_dict['Q7'], dtype=object).shape, (7,2))

    def test_Q7_types(self):
        dtype1 = type(answer_dict['Q7'][0][0])
        dtype2 = type(answer_dict['Q7'][0][1])
        self.assertEqual([dtype1, dtype2], [tuple, float])

unittest.main(argv=[''], verbosity=2, exit=False)

test_Q1 (__main__.TestAnswers) ... ok
test_Q2_dim (__main__.TestAnswers) ... ok
test_Q2_types (__main__.TestAnswers) ... ok
test_Q3_types (__main__.TestAnswers) ... ok
test_Q4_dim (__main__.TestAnswers) ... ok
test_Q4_types (__main__.TestAnswers) ... ok
test_Q5_dim (__main__.TestAnswers) ... FAIL
test_Q5_first_zero (__main__.TestAnswers) ... ERROR
test_Q5_types (__main__.TestAnswers) ... ok
test_Q6_check_first_and_last_brand (__main__.TestAnswers) ... ok
test_Q6_dim (__main__.TestAnswers) ... ok
test_Q7_dim (__main__.TestAnswers) ... ok
test_Q7_types (__main__.TestAnswers) ... ok
test_answers_types (__main__.TestAnswers) ... FAIL
test_if_dict (__main__.TestAnswers) ... ok
test_keys (__main__.TestAnswers) ... ok

======================================================================
ERROR: test_Q5_first_zero (__main__.TestAnswers)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "<ipython-input-67-ea466fca2033>", line 49, in test_Q5_first_zero
    self.assertEqual(answer_dict['Q5'][0][2], 0)
TypeError: 'NoneType' object is not subscriptable

======================================================================
FAIL: test_Q5_dim (__main__.TestAnswers)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "<ipython-input-67-ea466fca2033>", line 40, in test_Q5_dim
    self.assertEqual(np.array(answer_dict['Q5']).shape, (19,3))
AssertionError: Tuples differ: () != (19, 3)

Second tuple contains 2 additional elements.
First extra element 0:
19

- ()
+ (19, 3)

======================================================================
FAIL: test_answers_types (__main__.TestAnswers)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "<ipython-input-67-ea466fca2033>", line 13, in test_answers_types
    self.assertEqual(types_values, answer_types)
AssertionError: Lists differ: [<cla[49 chars]ss 'list'>, <class 'NoneType'>, <class 'list'>, <class 'list'>] != [<cla[49 chars]ss 'list'>, <class 'list'>, <class 'list'>, <class 'list'>]

First differing element 4:
<class 'NoneType'>
<class 'list'>

  [<class 'float'>,
   <class 'list'>,
   <class 'list'>,
   <class 'list'>,
-  <class 'NoneType'>,
+  <class 'list'>,
   <class 'list'>,
   <class 'list'>]

----------------------------------------------------------------------
Ran 16 tests in 0.043s

FAILED (failures=2, errors=1)

##Save your answers


##### First, take a moment to evaluate your answers and make sure you have not missed anything

##### Use the following code to save your answers in pickle format, change the filename using the following format:
##### FIRSTNAME_LASTNAME_answers.pkl
##### Example: Juan_Perez_answers.pkl

##### If you are using google colab you can find your file on the left side bar by clicking the folder icon inside the sample_data folder. Remember to upload the pickle file and the notebook to github and submit their URLs to the [google form](https://forms.gle/wWysZEMkoZsjB11Y7).

In [68]:
answer_dict

{'Q1': 392.742,
 'Q2': [['Mercedes-Benz', 333],
  ['BMW', 284],
  ['Chevrolet', 253],
  ['Ford', 185],
  ['GMC', 163]],
 'Q3': ['Regular Gas or Electricity',
  'Regular Gas and Electricity',
  'Regular',
  'Premium or E85',
  'Premium and Electricity',
  'Premium Gas or Electricity',
  'Premium',
  'Midgrade',
  'Gasoline or propane',
  'Gasoline or natural gas',
  'Gasoline or E85',
  'Diesel',
  'CNG'],
 'Q4': [['Cab/Chassis 2WD', 1989, 3.5653923662892626],
  ['Cab/Chassis 2WD', 1990, 3.5653923662892626],
  ['Cab/Chassis 2WD', 1991, 3.5653923662892626],
  ['Cab/Chassis 2WD', 1992, 3.5653923662892626],
  ['Cab/Chassis 2WD', 1993, 3.5653923662892626],
  ['Land Cruiser Wagon 4WD', 1984, 2.731818961681556],
  ['Land Cruiser Wagon 4WD', 1985, 2.731818961681556],
  ['Land Cruiser Wagon 4WD', 1986, 2.731818961681556],
  ['Land Cruiser Wagon 4WD', 1987, 2.731818961681556]],
 'Q5': None,
 'Q6': [['Toyota', 133.0, 133.0, 133.0, 133.0, 158.0],
  ['Ford', 112.0, 129.0, 129.0, 129.0, 129.0],
  ['Volkswagen', 200.0, 200.0, 200.0, 200.0, 261.025641025641],
  ['Nissan', 249.0, 254.0, 254.5, 254.5, 254.5],
  ['Honda',
   130.0,
   167.67924528301887,
   167.67924528301887,
   167.67924528301887,
   167.67924528301887]],
 'Q7': [[(1984, 1988), 19.0],
  [(1989, 1993), 18.0],
  [(1994, 1998), 19.0],
  [(1999, 2003), 19.0],
  [(2004, 2008), 19.0],
  [(2009, 2013), 21.0],
  [(2014, 2018), 22.0]]}

In [69]:
import pickle

file_name = "Ran_Cheng.pkl"
path = ""

with open(path+file_name, 'wb') as f:
    pickle.dump(answer_dict, f, protocol=pickle.HIGHEST_PROTOCOL)